<div class="flex flex-col items-center justify-center">
  <div class="h-2/4 w-2/4">
    <%= image_tag("message.png") %>
  </div>
  <h1 class="text-xl py-2">Message someone and chat right now!</h1>
  <span class="text-xl py-4 bg-[#2563eb] px-4 text-white rounded-full">Get started</span>
</div>
