<% room_name =  get_name_by_id(Current.user&.id || 0, user.id)%>
<% last_message_body, last_message_date = find_last_message_and_date(room_name) %>
<%= turbo_stream_from "#{room_name}_last_msg" %>
<div id="<%user.id %>" class=" <%= selected_div(user.id, params[:id]) %>">
  <%= render partial: "users/last_message",
             locals: { user: user,
                       last_message_date: last_message_date,
                       last_message: last_message_body,
                       seen_count: initial_unseen_msg_count(room_name, user.id), } %>
</div>

