<%= turbo_stream_from "#{get_name_by_id(current_user.id, user.id)}_last_msg" %>
<div id="<%user.id %>" class=" <%= selected_div(user.id, params[:id]) %>">
  <%= render partial: "users/last_message", locals: { user: user, last_message_date: find_last_message_date(user.id), last_message: find_last_message(user.id), message: Message.new, seen_count: 0 } %>
</div>

