<div class="py-2 flex items-center hover:bg-gray-200">
  <div class="h-[3rem] w-[3rem] rounded-full overflow-hidden">
    <%= image_tag("profile_avatar.jpg") %>
  </div>
  <div class="px-2 flex flex-col">
    <%= link_to user.username, user %>
    <%#= @last_message %>
    <span class="text-sm font-light">The last message</span>
    <i class="icon-share-alt icon-white"></i>
  </div>
</div>